<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.Address }} <span *ngIf="barDetails.Address && barDetails.City">|</span> {{ barDetails?.City }}
            <br>
            {{ barDetails?.Phone }}
        </p>
        <p-dropdown *ngIf="days" [ngClass]="{ 'no-option-selected': selectedDay === undefined || selectedDay === null }"
      placeholder="Filter By Day" [options]="days" [(ngModel)]="selectedDay" showClear="true"
      (onChange)="filterBars($event.value)"></p-dropdown>
    </div>
</div>


<div class="container">
    <br>
    <div id="bargraph"></div>
</div>

<br>

<div class="container">
    <br>
    <div id="bargraph2"></div>
</div>