<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Bar Beer Drinker!</h1>
    <p class="lead">Statistics and data on the world of alcoholism!</p>
  </div>
</div>

<div class="container">

  <p-table [value]="bars">
    <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>License</th>
          <th>Address</th>
          <th>City</th>
          <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bar>
        <tr>
          <td>
            <a routerLink="/bars/{{ bar.BarName }}">
              {{ bar.BarName }}
            </a>
          </td>
          <td>{{ bar.License }}</td>
          <td>{{ bar.Address }}</td>
          <td>{{ bar.City }}</td>
          <td>{{ bar.Phone }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<br><br>