<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">DRINKER AAAA!</h1>
    <p class="lead">This page can be used to look up info about drinkers.</p>
  </div>
</div>

<div class="container">

  <p-table [value]="transactions">
    <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Items</th>
          <th>Tip</th>
          <th>Total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
        <tr>
          <td>
            <a routerLink="/drinker/Forrest_Smith">
              {{ transaction.ID }}
            </a>
          </td>
          <td>Forrest Smith</td>
          <td>{{ transaction.Date }}</td>
          <td>{{ transaction.Time }}</td>
          <td>{{ transaction.Items }}</td>
          <td>{{ transaction.Tip }}</td>
          <td>{{ transaction.Total }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<br><br>