<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Modifications</h1>
    <p class="lead">Have some new data? Go ahead and update our database!</p>
  </div>
</div>

<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter an Update, Deletion, or Insertion:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="e.g. UPDATE table_name
       SET column1 = value1, column2 = value2, ...
       WHERE condition; "></textarea>
    </div>
  </form>
</div>

<br><br>