<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bartenders!</h1>
    <p class="lead">This page can be used to look up info about bartenders!</p>
  </div>
</div>

<div class="container">

  <p-table [value]="bartenders">
    <ng-template pTemplate="header">
        <tr>
          <th>Employee ID</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Weekday</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bartender>
        <tr>
          <td>
            <a routerLink="/bartenders/{{ bartender.EmployeeID }}">
              {{ bartender.EmployeeID }}
            </a>
          </td>
          <td>{{ bartender.FirstName }}</td>
          <td>{{ bartender.LastName }}</td>
          <td>{{ bartender.StartTime }}</td>
          <td>{{ bartender.EndTime }}</td>
          <td>{{ bartender.WeekDay }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<br><br>