<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Manufacturers</h1>
    <p class="lead">This page can be used to look up manufacturer statistics.</p>
    <p-dropdown *ngIf="Mnames" [ngClass]="{ 'no-option-selected': selectedManf === undefined || selectedManf === null }"
      placeholder="Select a Manufacturer" [options]="Mnames" [(ngModel)]="selectedManf" showClear="true"
      (onChange)="onOptionSelectedM($event.value)"></p-dropdown>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight-light">Regions of Highest Revenue</h2>
  <p-table [value]="manufacturers" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>City</th>
        <th>Revenue</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beer>
      <tr>
        <td><a routerLink="/manufacturers/{{ manf.Manf }}/sales">{{ manf.Manf }}</a></td>
        <td>{{ manf.City }}</td>
        <td>{{ manf.TipTotal }}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br>
</div>


